<div class="conteiner">
    <div class="content-box">
        <div class="detalhes">

        </div>
        <div class="icon-cadeado">
            <img src="https://png.pngtree.com/element_our/png_detail/20190103/vector-lock-icon-png_308617.jpg" alt="icon-cadeado">
        </div>
        <div class="form">
            <form>
                <div class="avatar">
                    <img src="https://1.bp.blogspot.com/-nQQiBnP-Esw/YNmiNGXf5KI/AAAAAAAABp8/epSyko8EDrECBaA9P86EiXX5bJB2Tq41gCNcBGAsYHQ/s904/398-3981675_avatar-for-login-form.png" alt="avatar">
                </div>
                <div class="inputBox">
                    <input type="email" name="email" id="email" required>
                    <span>email</span>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" id="password" required>
                    <span>password</span>
                </div>
                <a class="link" href="#">Forgot Password?</a>
                <button class="btn">Login</button>
            </form>
        </div>
    </div>
</div>